html, body {
    height: 100%;


    font-family: 'Poppins', sans-serif;
    text-align:left;
    justify-content:left;
    align-items:initial;
}


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section {
    display: flex;
    justify-content:initial;
    align-items: initial;
    width: 100%;
    height: 100vh;
    background: url('../Assets/HostelImg.jpg') no-repeat;
    background-size: cover;
    background-position: cen;
}


.container {
    width: 100%;
    height: 100%;
    background: #3aa98a;
}

.menu ul {
    display: inline-flex;
    margin: 35px;
    
}

.menu ul li {
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
}

.button, .login-btn {
    display: inline-block;
    background-color: #f3f4f6;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    padding: 6px 12px;
    margin: 5px;
    font-size: 14px;
    color: #24292e;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, box-shadow 0.2s;
}

.button:hover {
    background-color: #0a554a;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.button:active {
    background-color: #d1d5da;
}

.login-btn {
    top : 40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #111010;
}


/* here is  wellcome text designing  */
.welcome-text {
    position: absolute;
    top: 23%;
    left: 5%;
    transform: translateY(-50%); 
    text-align: left;
    color: white;
}

.welcome, .hcs {
    font-size: 3.5rem;
    font-weight:normal;
    text-transform:none;
    text-shadow: 3px 3px 15px rgba(255, 255, 255, 0.3);
    animation: glow 1.5s infinite alternate;
}

.welcome {
    font-style: italic;
    color: #00eaff; /* Light blue */
}

.hcs {
    color: #00ff0d; /* Golden effect */
}

/* Glowing Animation */
@keyframes glow {
    0% { text-shadow: 0 0 10px #fff, 0 0 20px #00ff9d, 0 0 30px #00ff40; }
    100% { text-shadow: 0 0 20px #fff, 0 0 30px #00ff7b, 0 0 40px #00ff73; }
}
